body {
    background-color: #DECDBF;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.body {
    background-color: #DECDBF;
    margin: 0;

    margin-left: 3rem;
}

.title {
    font-family: "mencken-std-head-narrow", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 12em;
    margin: 0;
}

.page {
    font-family: "mencken-std-text", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 2em;
    margin: 0;
}

a {
    color: #10388F;
    text-decoration: none;
}
