html {
    background-color: #DECDBF;
    margin: 0;
}

body {
    background-color: #DECDBF;
    margin: 0;

    margin-bottom: 5rem;
}

h1, h2, h3 {
    font-family: "mencken-std-head-narrow", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 4em;
    text-decoration: underline;
}

h2 {
  font-size: 3em;
}

.title {
    font-family: "mencken-std-head-narrow", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 7em;
    margin: 0;

    margin-bottom: 0.5em;
    text-decoration: underline;
}

.subtitle {
    font-family: "Iosevka Web", monospace;
    font-weight: 400;
    font-style: italic;
    font-size: 1.5em;
    margin: 0;
}

.body {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
}

pre {
    padding: 2em;
    overflow-x: scroll;
}

code {
    font-family: "Iosevka Web", monospace;
    font-size: 1.5rem;
    background-color: #282828;
    color: #B6B18E;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}


p, li {
    font-family: "Iosevka Web", monospace;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: #10388F;
}


@media (max-width: 800px) {
    .body {
        margin-left: 5%;
        margin-right: 5%;
    }

    .title {
        font-size: 4em;
    }

    .subtitle {
        font-size: 1.2em;
    }

    pre.language-rust {
        padding: 1em;
    }

    code {
        font-size: 0.6em;
    }

    p, li {
        font-size: 1rem;
    }
}
